@using zoo.Models
@model Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <style>
        #login-div {
            position: absolute;
            left: 37%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
            background-color: white;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body style="background-color:cornflowerblue">
    <header style="font-size:3vw; margin-top:50px">
        <text style="align-content:center"> Contact Lookup</text>
    </header>
    <div id="login-div">
        @using (Html.BeginForm("Contact", "SalesAssociate", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-align:center">Check For</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.f_name)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.f_name)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.f_name)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.l_name)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.l_name)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="Submit" name="name" value="Submit" />
                        <input type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>
        }
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        
    </script>
}
    </div>
</body>
</html>
