@model IEnumerable<zoo.Models.Inventory>

@{
    ViewBag.Title = "ViewInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <html lang="en">
        <title>Inventory</title>
<head>
    <title>SalesManager Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
.collapsible {
    background-color: #4E4D4D;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
</style>
</head>
<h2>ViewInventory</h2>
<body>
    <button class="collapsible">Inventory</button>
    <div class="content">
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Item Name")
                </th>
                <th>
                    @Html.Label("Price")
                </th>
                <th>
                    @Html.Label("Quantity")
                </th>
                <th>
                    @Html.Label("Wholesale Price")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.item_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ordered_quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.wholesaleprice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "editItem", new { id = item.Item_ID }, new { @class = "btn btn-primary" })
                        <p></p>
                        @using (Html.BeginForm("DeleteItem", "SalesManager", new { id = item.Item_ID }))
                        {
                            <input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Confirm Delete Item: @item.item_name');" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
